@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
:root
{
    --primary: #0D0D0D;
    --secondary: #384D59;
    --background: #111C26;
    --green-one: #0CF25D;
    --green-two: #038C3E;
    --danger: #F23030;
    --warning: #F28705;
    --white: #C1D4D9;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s all ease;
}
body
{
    background-color: var(--primary);
    font-family: "Poppins", sans-serif;
    /* transition: .3s background ease-in-out; */
    /* text-align: center; */
}
body.active
{
    --background: #F2F2F2;
    --primary: #A6A6A6;
    --secondary: #404040;
    background-color: var(--background);
}
p
{
    color: var(--white);
}
/* Start Header */
header .logo
{
    color: var(--white);
}
body.active header .logo
{
    color: var(--secondary);
}
ul, li, a {
  list-style: none;
  text-decoration: none;
}
header {
  background: transparent;
  padding: 10px 10px 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .18);
}

.nav__container
{
  width: 100%;
}
header li a
{
    color: var(--green-two);
    text-decoration: none;
    transition: .3s color ease;
}
header li.active a
{
    color: var(--green-one);
}
header li a:hover
{
    color: var(--green-one);
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex label{
  display: block;
}
.toggle
{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: 0  2px 10px rgba(0, 0, 0, 0.98);
}
body.active .toggle.active
{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    
}
.toggle span
{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--primary);
    border-radius: 50%;
    border: solid 1.5px var(--background);
    transform: scale(0.98, 0.98);
    transition: .5s transform ease-in-out;
    text-align: center;
    line-height: 28px;
    color: var(--warning);
    font-size: 18px;
}
.toggle.active span
{
    background-color: #F2F2F2;
    animation: rotate right .5s ease-in-out;
    box-shadow: -2px 1px 1px rgba(0, 0, 0, 0.25);
    transform: translateX(30px);
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(160deg);
    }
    100%{
        transform: rotate(320deg);
    }
}
/* End Header */

/* Start styles of Todo Card */
.todo__container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.todo
{   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    background-color: var(--background);
    border-radius: .5rem;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.todo.done{
  box-shadow: 2px 2px 5px 0 var(--green-one);
  color: var(--white);
}
:where(.todo > h3)
{
    color: var(--white);
    font-weight: 700;
}
body.active h3,
body.active p
{
    color: var(--secondary);
}
:where(.todo > p)
{
    font-weight: 500;
    font-size: 17px;
}
.todo label
{
    margin-right: 10px;
}
.button__container
{
    display: flex;
    width: 100% ;
    justify-content: space-between;
    gap: 10px;
}
.button__container .btn
{
    border-radius: .2rem ;
    background-color: var(--danger);
    padding: 15px 25px;
    color: #3d3d3d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button__container .btn i{
  font-size: 20px;
}
.button__container .btn.warning
{
    background-color: var(--warning);
}
.button__container .btn.success
{
    background-color: var(--green-one);
}
body.active .button__container .btn
{
    color: var(--background);
}
/* End styles of Todo Card */

/* Start Create todo */
.create__todo
{
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    max-width: 400px;
    height: max-content;
    margin: 50px auto;
    padding: 1rem;
    gap: 50px;
    border-radius: .3rem;
    justify-content: space-between;
    background-color: var(--background);
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.create__todo input[type="text"], textarea, button
{
    border: none;
    outline: none;
    width: 100%;
    resize: none;
    border-radius: .2rem;
    padding: 5px;
}
.create__todo button
{
    background-color: var(--green-two);
    height: 50px;
    transition: .3s background ease-in;
    cursor: pointer;
    color: var(--white);
    font-size: 18px;
}
.create__todo button:hover
{
    background-color: var(--green-one);
}
.create__todo input[type="text"],
.create__todo input[type="password"],
.create__todo input[type="email"]
{
    height: 50px;
    width: 100%;
}
.create__todo input[type="text"],
.create__todo textarea
{
    user-select: none;
    transition: .3s box-shadow ease-in;
    color: var(--secondary);
}
.create__todo input[type="text"]::placeholder,
.create__todo textarea::placeholder
{
    color: var(--secondary);
}
.create__todo input[type="text"]:focus,
.create__todo textarea:focus

{
    box-shadow: 0 0 1px 1px var(--white);
}
.create__todo label
{
    display: block;
    margin-bottom: 10px;
    color: var(--green-two);
}
.create__todo div
{
    margin: 20px 0 20px 0 ;
}
/* End Create todo */


/* Start Confirm Element */
.card__confirm
{
    width: 300px;
    height: max-content;
    border-radius: .5rem;
    background-color: var(--white);
    margin: 0 auto;
    transform: translateY(100%);
    padding: 20px;
}
body.active .card__confirm
{
    background-color: #F2F2F2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.19);
}
.card__confirm h4,
.card__confirm p
{
    text-align: center;
    color: var(--primary);
}

.card__confirm div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.card__confirm .btn
{
    display: block;
    width: max-content;
    height: 50px;
    padding: .5rem;
    transform: scale(0.98, 0.98);
    transition: .3s all ease-in-out;
    color: var(--white);
    cursor: pointer;
}
.card__confirm .btn:hover
{
    transform: scale(1, 1);
}
.card__confirm .btn.warning
{
    background-color: var(--warning);
}
.card__confirm .btn.success
{
    background-color: var(--green-two);
}
/* End Confirm Element */
